@model CMSWebPageCreator.Models.BodyInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BodyInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageCreateParentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageCreateParentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BodyItem">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
