@model BodyInfo
@{
    ViewData["Title"] = "BodyEditPartial";
}
<form asp-action="EditBodyItem">
    <div class="form-indented">
        <label asp-for="@Model.BodyContent" class="control-label"></label>
        <input asp-for="@Model.BodyContent" class="form-control" />
        <span asp-validation-for="@Model.BodyContent" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="@Model.ContentType" class="control-label"></label>
            <input asp-for="@Model.ContentType" class="form-control" />
            <span asp-validation-for="@Model.ContentType" class="text-danger"></span>

            <input type="hidden" value="@Model.PageCreateParentId" asp-for="PageCreateParentId" />
            <input type="hidden" value="@Model.BodyId" asp-for="BodyId" />
        </div>
        <div class="form-group">
            <input type="submit" name="edit" value="Edit Item" class="btn btn-primary" />
            <input type="submit" name="delete" value="Delete Item" class="btn btn-primary" />
        </div>
    </div>
</form>
