@model CMSWebPageCreator.Models.PageCreate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PageCreate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div id="topComment">
    @foreach (var item in Model.Headers)
    {
        <div>
            @if ((int)item.ContentType == 0)
            {
                <h1>@item.HeaderContent</h1>
            }
            else if ((int)item.ContentType == 1)
            {
                <p>@item.HeaderContent</p>
            }
            else
            {
                
                <p>@item.HeaderContent - We broke</p>//We get here if we haven't handled the enumeration yet or if it failed to equal
            }
        </div>
    }
    <div>----------------------------------------------------------------------------------</div>
    @*@foreach (var item in ViewBag.MyBody)
    {
        <div>
            @if ((int)item.ContentType == 0)
            {
                <h1>@item.BodyContent</h1>
            }
            else if ((int)item.ContentType == 1)
            {
                <p>@item.BodyContent</p>
            }
            else
            {
                <p>@item.BodyContent - We broke</p>//We get here if we haven't handled the enumeration yet or if it failed to equal
            }
        </div>
    }
    <div>----------------------------------------------------------------------------------</div>
    @foreach (var item in ViewBag.MyFooter)
    {
        <div>
            @if ((int)item.ContentType == 0)
            {
                <h1>@item.FooterContent</h1>
            }
            else if ((int)item.ContentType == 1)
            {
                <p>@item.FooterContent</p>
            }
            else
            {
                <p>@item.FooterContenti - We broke</p>//We get here if we haven't handled the enumeration yet or if it failed to equal
            }
        </div>
    }*@
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.pageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
