@model CMSWebPageCreator.Models.PageCreate
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    var canEdit = (await Authorization.AuthorizeAsync(User, MyIdentity.Policy_Edit)).Succeeded;
}
@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron text-center text-white bg-dark"><h1>@Html.DisplayFor(model => model.Title)</h1></div>

@foreach (var item in Model.Headers)
{
    <header>
        <div class="navbar navbar-dark bg-dark box-shadow text-white">
            @if ((int)item.ContentType == 0)
            {
                <div><h1 class="align-content-center">@item.HeaderContent</h1></div>
            }
            else if ((int)item.ContentType == 1)
            {
                <p>@item.HeaderContent</p>
            }
            else if ((int)item.ContentType == 2) //We are an image
            {
                <img src="@item.HeaderContent" alt="Image"><img />
            }
            else
            {

                <p>@item.HeaderContent - We broke</p>//We get here if we haven't handled the enumeration yet or if it failed to equal
            }
        </div>
    </header>
}
    <div id="topComment">
        <div class="bg-light rounded form-group justify-content-center p-2">
            @foreach (var item in Model.BodyItems)
            {
                @if ((int)item.ContentType == 0)
                {
                    <h1>@item.BodyContent</h1>
                }
                else if ((int)item.ContentType == 1)
                {
                    <p>@item.BodyContent</p>
                }
                else if ((int)item.ContentType == 2) //We are an image
                {
                    <img class="w-100 card-body justify-content-center" src="@item.BodyContent" alt="Image"><img />
                }
                else
                {

                    <p>@item.BodyContent - We broke</p>//We get here if we haven't handled the enumeration yet or if it failed to equal
                }
            }

        </div>

        <div class="bg-light rounded form-group p-2">

            <p class="font-weight-bold">Page Comments</p>
            @{
                ViewBag.Layer = 0;
            }
            <div id="topComment">
                @Html.Partial("comment", ((List<Comment>)ViewBag.Comments).Where(c => c.ParentId == null).ToList())
            </div>

            @{
                if (ViewBag.userId != null)
                {
                    @Html.Partial("NewComment", new Comment() { PostId = Model.Title, ParentId = null, UserId = ViewBag.userId })
                }
            }
        </div>

        @foreach (var item in Model.FooterItems)
        {
            <footer class="text-muted">
                <div class="container">
                    @if ((int)item.ContentType == 0)
                    {
                        <h1>@item.FooterContent</h1>
                    }
                    else if ((int)item.ContentType == 1)
                    {
                        <p>@item.FooterContent</p>
                    }
                    else if ((int)item.ContentType == 2) //We are an image
                    {
                        <img src="@item.FooterContent" alt="Image"><img />
                    }
                    else
                    {

                        <p>@item.FooterContent - We broke</p>//We get here if we haven't handled the enumeration yet or if it failed to equal
                    }
                </div>
            </footer>
        }
        <hr />

    </div>
<div>
    @if (canEdit)
    {<a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.pageId">Edit </a>}
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>
