@model CMSWebPageCreator.Models.PageCreate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PageCreate</h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="pageId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        --------------------------------------------------------------------------------------------------------------------------------
        @Html.Partial("HeaderCreatePartial", new HeaderInfo() { PageCreateParentId = Model.pageId })

        <div><h1>Existing Headers</h1></div>
        @foreach (var item in Model.Headers)
        {
            @Html.Partial("HeaderEditPartial", item);
        }
        @*@foreach (var item in Model.BodyItems)
        {
            Html.RenderPartial("BodyEditPartial", item);
        }
        @foreach (var item in Model.FooterItems)
        {
            Html.RenderPartial("FooterEditPartial", item);
        }*@
        @*<div class="form-group">
            <h1>Header Edit</h1>

            <form asp-action="DeleteHeaderItem">
                <div class="form-indented">
                    <div><h1>Existing Header Items</h1></div>
                    @foreach (var item in Model.Headers.Where(h => h.HeaderId != Guid.Empty))
                    {
                        <div>
                            <label asp-for="@item.HeaderContent" class="control-label"></label>
                            <input asp-for="@item.HeaderContent" class="form-control" />
                            <span asp-validation-for="@item.HeaderContent" class="text-danger"></span>

                            <label asp-for="@item.ContentType" class="control-label"></label>
                            <input asp-for="@item.ContentType" class="form-control" />
                            <span asp-validation-for="@item.ContentType" class="text-danger"></span>

                            <input type="hidden" asp-for="pageId" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="DeleteHeaderItem" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </form>
        </div>
        --------------------------------------------------------------------------------------------------------------------------------
        <div class="form-group">
            <h1>Body Edit</h1>
            <form asp-action="MyBodyCreate">
                <div>
                    <label asp-for="MyBody.BodyContent" class="control-label"></label>
                    <input asp-for="MyBody.BodyContent" class="form-control" />
                    <span asp-validation-for="MyBody.BodyContent" class="text-danger"></span>

                    <label asp-for="MyBody.ContentType" class="control-label"></label>
                    <input asp-for="MyBody.ContentType" class="form-control" />
                    <span asp-validation-for="MyBody.ContentType" class="text-danger"></span>

                    <input type="hidden" asp-for="pageId" />
                </div>
                <div class="form-group">
                    <input type="submit" value="MyBodyCreate" class="btn btn-primary" />
                </div>
            </form>
        </div>
        --------------------------------------------------------------------------------------------------------------------------------
        <div class="form-group">
            <h1>Footer Edit</h1>
            <form asp-action="MyFooterCreate">
                <div>
                    <label asp-for="MyFooter.FooterContent" class="control-label"></label>
                    <input asp-for="MyFooter.FooterContent" class="form-control" />
                    <span asp-validation-for="MyFooter.FooterContent" class="text-danger"></span>

                    <label asp-for="MyFooter.ContentType" class="control-label"></label>
                    <input asp-for="MyFooter.ContentType" class="form-control" />
                    <span asp-validation-for="MyFooter.ContentType" class="text-danger"></span>

                    <input type="hidden" asp-for="pageId" />
                </div>
                <div class="form-group">
                    <input type="submit" value="MyFooterCreate" class="btn btn-primary" />
                </div>
            </form>
        </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
